{
  "extends": [
    "standard"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "sourceType": "module"
    }
  }
}
